central-menu {
	.container {
	  position: relative;
	  width: 50%;
	}

	.container .btn {
	  position: absolute;
	  top: 7%;
	  left: 4%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  background-color: #555;
	  font-size: 16px;
	  padding: 12px 24px;
	  border: none;
	  cursor: pointer;
	  border-radius: 5px;
	}
}
