<ion-content>
	<ion-list>
		<ion-item no-lines text-left>
			<ion-slides>
		  		<ion-slide *ngFor="let key of keys">
		  			<img src="{{getThumbnail(key)}}" style="height: 55vh; width: 100vh">
		  			<div class="chart-with-bg">
		  				<ion-label>{{key}}</ion-label>
			  			<ion-label>{{campaigns[key].desc}}</ion-label>
			  		</div>
		  			<button ion-button large color=dark-green (click)="goToCampaign(key)">Enter Campaign</button>
					<button ion-button large color="danger" (click)="deleteCampaign(key)"><ion-icon name="trash"></ion-icon></button>
		  		</ion-slide>
		  	</ion-slides>
		</ion-item>
		<ion-item no-lines text-center>
			<button ion-button (click)="onBackClicked(0)" color=dark-green>
				Go Back To Principal Menu
			</button>
		</ion-item>
	</ion-list>
</ion-content>