campaign-selector {
	ion-content{
		background-image:none;
		background-color: rgba(0, 0, 0, 0.0) !important;
	}
	ion-list {
		margin: auto;
		width:80%;
	}
	ion-item {
		background-color: transparent !important;
		padding: 10%;
	}
	.item{
  		margin:5% auto;
	}

    .chart-with-bg {
    	width:auto !important;
	    background-color: rgb(0, 0, 0) !important;
        background-color: rgba(0, 0, 0, 0.7) !important;
        
        border: 5px solid black;
        border-radius: 5px;
        color: white;
	}
}
