gallery {
    .slide-zoom {
        background: #e6e6e6;
    }
 	
    .thumb-img {
    	padding-left:  5px;
    	padding-right: 5px;
    	background-color: rgb(0, 0, 0) !important;
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
    .container {
	  position: relative;
	  width: 50%;
	}

	.container img {
	  width: 100%;
	  height: auto;
	}

	.container .btn {
	  position: absolute;
	  top: 75%;
	  left: 85%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  background-color: #555;
	  font-size: 16px;
	  padding: 12px 24px;
	  border: none;
	  cursor: pointer;
	  border-radius: 5px;
	}
}
