<ion-label>{{this.actual_folder.name}}</ion-label>
<button style='background: transparent;' no-lines button-left *ngIf="!inRoot" (click)="onPrevFolderClicked()">
	<ion-icon style='font-size: 200%' name="arrow-back"></ion-icon>
</button>
<ion-list >
	<ion-item-divider color=dark-green>
			Folders
	</ion-item-divider>
	<ion-item no-lines *ngFor="let folder of folders;">
		<button ion-item no-lines (click)="onFolderClicked(folder)">{{folder.name}}</button>
	</ion-item>
	<ion-item-divider color=dark-green>
			Files
	</ion-item-divider>
	<ion-item no-lines *ngFor="let file of files;">
		<ion-label>{{file.name}}</ion-label>
		<button ion-button item-right color=dark-green (click)="selectFile(file)"><ion-icon name="checkmark"></ion-icon></button>
	</ion-item>
</ion-list>