custom-text {
	ion-content{
		background-image:none;
		background-color: rgba(0, 0, 0, 0.0) !important;
	}
    .scroll-content{

        background-color: rgb(0, 0, 0) !important;
        background-color: rgba(0, 0, 0, 0.7) !important;
        
        border: 5px solid black;
        border-radius: 5px;
        
        overflow: hidden;
        color: white;

        margin:5%;
    }
}
