<ion-content padding class="no-scroll">
	<ion-grid>
		<ion-row>
			<ion-title>Preferred Drive Folders</ion-title>
			<button ion-button icon-only color="dark-green" (click)="dismiss()">
    			<ion-icon name="close"></ion-icon>
  			</button>
		</ion-row>
		<ion-row>
			<ion-label style='margin: 5%;'>
				Select the folders from which you want to pick the resources
			</ion-label>
		</ion-row>
		<!--
		<ion-row>
			<ion-item no-lines col-9 push-1>
				<ion-label color="dark-green" stacked>Characters Folder</ion-label>
				<ion-input [(ngModel)]="folders_dict['chars'].name" id="chars" readonly=true placeholder="Select a folder... "></ion-input>	
			</ion-item>
			<button ion-button color="dark-green" (click)="presentPickerModal('chars')"><ion-icon [name]="icon"></ion-icon></button>
		</ion-row>
		-->
		<ion-row>
			<ion-item no-lines col-9 push-1>
				<ion-label color="dark-green" stacked>Legends Folder</ion-label>
				<ion-input [(ngModel)]="folders_dict['legends'].name" id="legends" readonly=true placeholder="Select a folder... "></ion-input>	
			</ion-item>
			<button ion-button color="dark-green" (click)="presentPickerModal('legends')"><ion-icon [name]="icon"></ion-icon></button>
		</ion-row>
		<ion-row>
			<ion-item no-lines col-9 push-1>
				<ion-label color="dark-green" stacked>Ambience Music Folder</ion-label>
				<ion-input [(ngModel)]="folders_dict['ambience'].name" id="ambience" readonly=true placeholder="Select a folder... "></ion-input>	
			</ion-item>
			<button ion-button color="dark-green" (click)="presentPickerModal('ambience')"><ion-icon [name]="icon"></ion-icon></button>
		</ion-row>
		<ion-row>
			<ion-item no-lines col-9 push-1>
				<ion-label color="dark-green" stacked>Modules Folder</ion-label>
				<ion-input [(ngModel)]="folders_dict['modules'].name" id="modules" readonly=true placeholder="Select a folder... "></ion-input>	
			</ion-item>
			<button ion-button color="dark-green" (click)="presentPickerModal('modules')"><ion-icon [name]="icon"></ion-icon></button>
		</ion-row>
		<ion-row>
			<ion-item no-lines col-9 push-1>
				<ion-label color="dark-green" stacked>Gallery Folder</ion-label>
				<ion-input [(ngModel)]="folders_dict['gallery'].name" id="gallery" readonly=true placeholder="Select a folder... "></ion-input>	
			</ion-item>
			<button ion-button color="dark-green" (click)="presentPickerModal('gallery')"><ion-icon [name]="icon"></ion-icon></button>
		</ion-row>
		<!--
		<ion-row>
			<ion-item no-lines col-9 push-1>
				<ion-label color="dark-green" stacked>Roster Folder</ion-label>
				<ion-input [(ngModel)]="folders_dict['roster'].name" id="roster" readonly=true placeholder="Select a folder... "></ion-input>	
			</ion-item>
			<button ion-button color="dark-green" (click)="presentPickerModal('roster')"><ion-icon [name]="icon"></ion-icon></button>
		</ion-row>
		<ion-row>
			<ion-item no-lines col-9 push-1>
				<ion-label color="dark-green" stacked>Generators Folder</ion-label>
				<ion-input [(ngModel)]="folders_dict['generators'].name" id="generators" readonly=true placeholder="Select a folder... "></ion-input>	
			</ion-item>
			<button ion-button color="dark-green" (click)="presentPickerModal('generators')"><ion-icon [name]="icon"></ion-icon></button>
		</ion-row>
		-->
	</ion-grid>
</ion-content>
